%h1#title Categories

%table
  - @categories.each do |cat|
    %tr.super
      %td{colspan: "3"}= cat.name
    - cat.subcategories.each do |subcat|
      %tr
        %td= subcat.name
        %td <div class="colorpicker" data-color="#{subcat.background}"></div>
        %td= subcat.white_text


:javascript
  window.available_colors = "#{ @settings.where(key: 'colors').first.try :value }".split(',');
  app.handler(function() { return categories_handler; });
