<!DOCTYPE html>
%html
  %head
    %title Pomodoro
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #wrapper
      #sidebar-wrapper
        %ul.sidebar-nav
          %li.sidebar-brand= link_to 'Pomodoro', '#'
          %li= link_to 'Start work', '#'
          %li= link_to 'Categories', '#'
          %li= link_to 'Statistics', '#'

      #page-content-wrapper
        - class_close = 'fa-arrow-circle-o-left'
        - class_open = 'fa-arrow-circle-o-right'
        %i.fa.fa-3x#toggle-sidebar{class: class_close}
        .container-fluid
          .row
            .col-lg-12
              = yield

    :javascript
      $("#toggle-sidebar").click(function(e) {
        $("#wrapper").toggleClass("toggled");
        if ($(this).hasClass('#{ class_close }')) {
          $(this).removeClass('#{ class_close }').addClass('#{ class_open }');
        } else {
          $(this).removeClass('#{ class_open }').addClass('#{ class_close }');
        }
      });
