<!DOCTYPE html>
%html
  %head
    %title Pomodoro
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - pages = PagesController.action_methods
    #wrapper
      #sidebar-wrapper
        %ul.sidebar-nav
          %li.sidebar-brand= link_to 'Pomodoro', '#'
          - pages.each do |page|
            %li= link_to t('pages.names.'+page), '#'+page

      #page-content-wrapper
        - class_close = 'fa-arrow-circle-o-left'
        - class_open = 'fa-arrow-circle-o-right'
        %i.fa.fa-3x#toggle-sidebar{class: class_close}
        - pages.each do |page|
          = page_section page
        -# yield
      :javascript
        window.close_sidebar_icon_class = '#{class_close}'
        window.open_sidebar_icon_class = '#{class_open}'
